:root{
    text-align: center;
    --primary:#ff002b;
    --secondary:blue;
    --dark:rgb(24, 24, 58);
    --ligth:#eeee;
}
.App{
    text-align: center;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    align-items: center;
    background-color: var(--ligth);
}
.App{
    text-align: center;
    align-self: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 18px;
}
.todo{
    margin-top: 100px;
    align-content: center;
    min-height: 50vh;
    width: 100%;
    max-width: 100vh;
    background-color: aliceblue;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0);
}


button{
    padding:5px 25px;
    font-size: 20px ;
    color: #fff;
    appearance: none;
    border:none ;
    outline: none;
    padding: 16px;
    cursor: pointer;
    transition: .4s;
    background-color:#38cc3d;
    border-radius: 12px;
    margin-left: 6px;
    box-shadow: 0 9px #999;
    font-style: oblique;
    

}
.button:hover {background-color: #43ee49}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.operators{
    display: flex;
}
.operators button{
    flex: 1 1 0%;
    background-color: var(--primary);
    font-weight: 700;

}
.left{
    align-content: center;
    padding:35px 50px;
    margin-top: 25px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--dark);
    color: var(--ligth);
    font-size: 20px;
    font-weight: 700;
}
